html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url("background_map.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

a {
	text-decoration: none;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.header {
	margin-top: 20px;
}

img.profile-pic {
	height: 30%;
	width: 30%;
	max-width: 150px;
	border-radius: 50%;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
	height: 100%;
	width: 100%;
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0.25rem;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.name-title-company {
	height: 100%;
}

.banner {
	height: 30%;
}

.primary-info {
	height: 15%;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

.secondary-info {
	height: 8%;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.text-name {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #F4F0DE;
    font-size: 20px;
}

.text-title-company {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #F4F0DE;
    font-size: 12px;
}

.text-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #F4F0DE;
    font-size: 12px;
}


.button {
	background-color: #9b291f;
	height: 48px;
	padding-left: 24px
	padding-right: 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
	font-family: 'Muli', sans-serif;
	color: #F4F0DE;
	font-weight: 300;
	margin: 20px auto 0;
	width: 100%;
	max-width: 250px;
}

img.company-logo {
	max-height: 5em;
	margin-right: 0;
	align-self: flex-start;
}
p {
    margin: 0.25rem !important;
}
@media screen and (max-width: 600px) {
  img.profile-pic {
    height: 60%;
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  img.profile-pic {
    height: 80%;
    width: 80%;
  }
}
